<!--<ion-header>
  <ion-toolbar>
    <ion-title>forgot-password</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>
  <div id="header">
      <img class="Logo-ATOS" src="../../../assets/image_zepe/logo-atos.svg"/>
      <img src="../../../assets/image_zepe/cuisinier.svg" class="Cuisinier">
  </div>

  <form id="form" [formGroup]="forgotPwdForm">
      <p class="Connexion">Mot de passe oublie </p>
      <p style="color: #ff0000; font-size: 14px;" *ngIf="!forgotPwdForm.valid && f.username.touched && f.password.touched">Les
          informations renseignées ne correspondent pas</p>

      <p>Username :</p>
      <ion-item class="ion-margin-bottom" #das>
          <ion-input formControlName="username" type="text" required></ion-input>
          <ion-icon name="person-outline" slot="end" color="dark"></ion-icon>
      </ion-item>

      <!--<p>Mot de passe :</p>
      <ion-item class="ion-margin-bottom" #pass>
          <ion-input formControlName="password" type="password" #passwordInput required></ion-input>
          <ion-icon [name]="name" slot="end" color="dark" (click)="showPassword()"></ion-icon>
      </ion-item>
      <p class="B00_RESTO-ATOS_MOBILE_APP">Mot de passe oublié ?</p>-->

      <ion-button expand="block" shape="round" (click)="sendRequest()">Envoyer</ion-button>
  </form>
</ion-content>

