.password_col {
  padding: 0 20px 0 20px;
  margin-top: 15px;

}

ion-header {
  ion-toolbar {
    ion-title {
      font-family: Poppins;
      font-size: 19px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000000;
    }
  }
  background-color: #ddf1ff;
}

ion-item {
  margin: 40px 0 47px 0;
  border: 2px #000000 solid;
  border-radius: 10px;
}

ion-icon{
  margin-top: 15px;
}
