<ion-header id="connected">
  <ion-toolbar>
    <ion-item id="information" slot="start">
      <ion-img id="logo" [src]="'../../assets/image_zepe/logo-atos.svg'"></ion-img>
    </ion-item>
    <ion-buttons slot="end">
      <ion-img id="notification" name="notifications-sharp" routerDirection="root" [src]="'../../assets/image_zepe/icon-alert-copy-2.svg'"></ion-img>
      <ion-img id="setting" [routerLink]="['/private']" name="settings-sharp" [src]="'../../assets/image_zepe/icon-admin-copy-2.svg'"></ion-img>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
