ion-label {
  margin-left: 5px;
  font-weight: bold;
}

ion-icon{
  color: black;
  float: right;
  margin-right: 5px;
}

#information{
  margin-right: auto;
}

#connected {
  border-bottom: outset;
  border-bottom-color: lime;
}

#money {
  margin-left: 15px;
}

.info {
  color: gray;
}

.fixed {
  width: 100%;
}
